# Data Cleaning

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv(r"C:\Users\ADMIN\OneDrive - siomairhys\Portfolio Project\Resources,Templates and Codes\Netflix Userbase Data Cleaning Panda.csv")
df

,User ID,Subscription Type,Monthly Revenue,Join Date,Last Payment Date,Country,Age,Gender,Device,Plan Duration
0,21,Premium,15,10/6/2023,22/06/23,United States,26,Female,Laptop,1 Month
1,22,Basic,10,22-07-22,28-06-23,Canada,34,Male,Smartphone,1 Month
2,23,/Standard,12,5/12/2021,27-06-23,United Kingdom,49,Female,Smart TV,1 Month
3,24,Standard-,12,3/4/2022,26-06-23,Australia,31,Male,Tablet,1 Month
4,25,Basic,10,14-03-23,28-06-23,Germany,40,Female,Laptop,1 Month
5,26,Premium,15,12/1/2022,27/06/23,France,29,Male,Smartphone,1 Month
6,27,Basic,10,29-08-22,25-06-23,Brazil,47,Female,Smart TV,1 Month
7,28,Standard-,12,27-09-21,24/06/23,Mexico,33,Male,Tablet,1 Month
8,29,Premium,15,19-12-22,23-06-23,Spain,36,Female,Laptop,1 Month
9,30,Basic,10,17-05-23,22/06-23,Italy,42,Male,Smartphone,1 Month
10,31,Premium12,15,3/2/2023,22-06-23,United States,28,Female,Smart TV,1 Month
11,32,B_asic,10,7/7/2022,28-06-23,Canada,37,Male,Tablet,1 Month
12,33,Standard,12,21-01-22,27/06/23,United Kingdom,41,Female,Laptop,1 Month
13,34,Standard_,12,25-05-22,26-06-23,Australia,29,Male,Smartphone,1 Month
14,35,Basic,10,11/4/2023,28-06-23,Germany,39,Female,Smart TV,1 Month
15,36,Premium,15,1/3/2022,27-06-23,France,35,Male,Tablet,1 Month
16,37,Basic,10,14-09-22,25-06/23,Brazil,45,Female,Laptop,1 Month
17,38,Standard1,12,5/11/2021,24-06-23,Mexico,32,Male,Smartphone,1 Month
18,39,Premium31,15,28-12-22,23-06-23,Spain,27,Female,Smart TV,1 Month
19,40,Basic,10,7/3/2023,22-06/23,Italy,48,Male,Tablet,1 Month
20,29,Premium,15,19-12-22,23-06-23,Spain,36,Female,Laptop,1 Month

In [4]:
# I have removed one duplicate in the dataset
df = df.drop_duplicates()
df

,User ID,Subscription Type,Monthly Revenue,Join Date,Last Payment Date,Country,Age,Gender,Device,Plan Duration
0,21,Premium,15,10/6/2023,22/06/23,United States,26,Female,Laptop,1 Month
1,22,Basic,10,22-07-22,28-06-23,Canada,34,Male,Smartphone,1 Month
2,23,/Standard,12,5/12/2021,27-06-23,United Kingdom,49,Female,Smart TV,1 Month
3,24,Standard-,12,3/4/2022,26-06-23,Australia,31,Male,Tablet,1 Month
4,25,Basic,10,14-03-23,28-06-23,Germany,40,Female,Laptop,1 Month
5,26,Premium,15,12/1/2022,27/06/23,France,29,Male,Smartphone,1 Month
6,27,Basic,10,29-08-22,25-06-23,Brazil,47,Female,Smart TV,1 Month
7,28,Standard-,12,27-09-21,24/06/23,Mexico,33,Male,Tablet,1 Month
8,29,Premium,15,19-12-22,23-06-23,Spain,36,Female,Laptop,1 Month
9,30,Basic,10,17-05-23,22/06-23,Italy,42,Male,Smartphone,1 Month
10,31,Premium12,15,3/2/2023,22-06-23,United States,28,Female,Smart TV,1 Month
11,32,B_asic,10,7/7/2022,28-06-23,Canada,37,Male,Tablet,1 Month
12,33,Standard,12,21-01-22,27/06/23,United Kingdom,41,Female,Laptop,1 Month
13,34,Standard_,12,25-05-22,26-06-23,Australia,29,Male,Smartphone,1 Month
14,35,Basic,10,11/4/2023,28-06-23,Germany,39,Female,Smart TV,1 Month
15,36,Premium,15,1/3/2022,27-06-23,France,35,Male,Tablet,1 Month
16,37,Basic,10,14-09-22,25-06/23,Brazil,45,Female,Laptop,1 Month
17,38,Standard1,12,5/11/2021,24-06-23,Mexico,32,Male,Smartphone,1 Month
18,39,Premium31,15,28-12-22,23-06-23,Spain,27,Female,Smart TV,1 Month
19,40,Basic,10,7/3/2023,22-06/23,Italy,48,Male,Tablet,1 Month

In [6]:
# Removing the two columns in the dataset
df.drop(["Device", "Plan Duration"], axis = 1, inplace = True)
df

,User ID,Subscription Type,Monthly Revenue,Join Date,Last Payment Date,Country,Age,Gender
0,21,Premium,15,10/6/2023,22/06/23,United States,26,Female
1,22,Basic,10,22-07-22,28-06-23,Canada,34,Male
2,23,/Standard,12,5/12/2021,27-06-23,United Kingdom,49,Female
3,24,Standard-,12,3/4/2022,26-06-23,Australia,31,Male
4,25,Basic,10,14-03-23,28-06-23,Germany,40,Female
5,26,Premium,15,12/1/2022,27/06/23,France,29,Male
6,27,Basic,10,29-08-22,25-06-23,Brazil,47,Female
7,28,Standard-,12,27-09-21,24/06/23,Mexico,33,Male
8,29,Premium,15,19-12-22,23-06-23,Spain,36,Female
9,30,Basic,10,17-05-23,22/06-23,Italy,42,Male
10,31,Premium12,15,3/2/2023,22-06-23,United States,28,Female
11,32,B_asic,10,7/7/2022,28-06-23,Canada,37,Male
12,33,Standard,12,21-01-22,27/06/23,United Kingdom,41,Female
13,34,Standard_,12,25-05-22,26-06-23,Australia,29,Male
14,35,Basic,10,11/4/2023,28-06-23,Germany,39,Female
15,36,Premium,15,1/3/2022,27-06-23,France,35,Male
16,37,Basic,10,14-09-22,25-06/23,Brazil,45,Female
17,38,Standard1,12,5/11/2021,24-06-23,Mexico,32,Male
18,39,Premium31,15,28-12-22,23-06-23,Spain,27,Female
19,40,Basic,10,7/3/2023,22-06/23,Italy,48,Male

In [8]:
# Remove the unneccessary values in the datasets
df["Subscription Type"] = df["Subscription Type"].str.lstrip("/")
df["Subscription Type"] = df["Subscription Type"].str.rstrip("-")
df["Subscription Type"] = df["Subscription Type"].str.rstrip("12")
df["Subscription Type"] = df["Subscription Type"].str.rstrip("_")
df["Subscription Type"] = df["Subscription Type"].str.rstrip("1")
df["Subscription Type"] = df["Subscription Type"].str.rstrip("31")

# Or you can use strip only to get rid of the unneccessary datas
df["Subscription Type"] = df["Subscription Type"].str.strip("/-12_131")

df

,User ID,Subscription Type,Monthly Revenue,Join Date,Last Payment Date,Country,Age,Gender
0,21,Premium,15,10/6/2023,22/06/23,United States,26,Female
1,22,Basic,10,22-07-22,28-06-23,Canada,34,Male
2,23,Standard,12,5/12/2021,27-06-23,United Kingdom,49,Female
3,24,Standard,12,3/4/2022,26-06-23,Australia,31,Male
4,25,Basic,10,14-03-23,28-06-23,Germany,40,Female
5,26,Premium,15,12/1/2022,27/06/23,France,29,Male
6,27,Basic,10,29-08-22,25-06-23,Brazil,47,Female
7,28,Standard,12,27-09-21,24/06/23,Mexico,33,Male
8,29,Premium,15,19-12-22,23-06-23,Spain,36,Female
9,30,Basic,10,17-05-23,22/06-23,Italy,42,Male
10,31,Premium,15,3/2/2023,22-06-23,United States,28,Female
11,32,B_asic,10,7/7/2022,28-06-23,Canada,37,Male
12,33,Standard,12,21-01-22,27/06/23,United Kingdom,41,Female
13,34,Standard,12,25-05-22,26-06-23,Australia,29,Male
14,35,Basic,10,11/4/2023,28-06-23,Germany,39,Female
15,36,Premium,15,1/3/2022,27-06-23,France,35,Male
16,37,Basic,10,14-09-22,25-06/23,Brazil,45,Female
17,38,Standard,12,5/11/2021,24-06-23,Mexico,32,Male
18,39,Premium,15,28-12-22,23-06-23,Spain,27,Female
19,40,Basic,10,7/3/2023,22-06/23,Italy,48,Male

In [10]:
# Replacing the underscore sign in the Basic Subscription type
df["Subscription Type"] = df["Subscription Type"].str.replace("_", "")
df

,User ID,Subscription Type,Monthly Revenue,Join Date,Last Payment Date,Country,Age,Gender
0,21,Premium,15,10/6/2023,22/06/23,United States,26,Female
1,22,Basic,10,22-07-22,28-06-23,Canada,34,Male
2,23,Standard,12,5/12/2021,27-06-23,United Kingdom,49,Female
3,24,Standard,12,3/4/2022,26-06-23,Australia,31,Male
4,25,Basic,10,14-03-23,28-06-23,Germany,40,Female
5,26,Premium,15,12/1/2022,27/06/23,France,29,Male
6,27,Basic,10,29-08-22,25-06-23,Brazil,47,Female
7,28,Standard,12,27-09-21,24/06/23,Mexico,33,Male
8,29,Premium,15,19-12-22,23-06-23,Spain,36,Female
9,30,Basic,10,17-05-23,22/06-23,Italy,42,Male
10,31,Premium,15,3/2/2023,22-06-23,United States,28,Female
11,32,Basic,10,7/7/2022,28-06-23,Canada,37,Male
12,33,Standard,12,21-01-22,27/06/23,United Kingdom,41,Female
13,34,Standard,12,25-05-22,26-06-23,Australia,29,Male
14,35,Basic,10,11/4/2023,28-06-23,Germany,39,Female
15,36,Premium,15,1/3/2022,27-06-23,France,35,Male
16,37,Basic,10,14-09-22,25-06/23,Brazil,45,Female
17,38,Standard,12,5/11/2021,24-06-23,Mexico,32,Male
18,39,Premium,15,28-12-22,23-06-23,Spain,27,Female
19,40,Basic,10,7/3/2023,22-06/23,Italy,48,Male

In [21]:
# Cleaning the Join Date columns and fixing the dates
df["Join Date"] = pd.to_datetime(df['Join Date'], errors='coerce').dt.strftime('%d-%m-%y')
df

,User ID,Subscription Type,Monthly Revenue,Join Date,Last Payment Date,Country,Age,Gender
0,21,Premium,15,10-06-23,22/06/23,United States,26,Female
1,22,Basic,10,22-07-22,28-06-23,Canada,34,Male
2,23,Standard,12,05-12-21,27-06-23,United Kingdom,49,Female
3,24,Standard,12,03-04-22,26-06-23,Australia,31,Male
4,25,Basic,10,14-03-23,28-06-23,Germany,40,Female
5,26,Premium,15,12-01-22,27/06/23,France,29,Male
6,27,Basic,10,29-08-22,25-06-23,Brazil,47,Female
7,28,Standard,12,27-09-21,24/06/23,Mexico,33,Male
8,29,Premium,15,19-12-22,23-06-23,Spain,36,Female
9,30,Basic,10,17-05-23,22/06-23,Italy,42,Male
10,31,Premium,15,03-02-23,22-06-23,United States,28,Female
11,32,Basic,10,07-07-22,28-06-23,Canada,37,Male
12,33,Standard,12,21-01-22,27/06/23,United Kingdom,41,Female
13,34,Standard,12,25-05-22,26-06-23,Australia,29,Male
14,35,Basic,10,11-04-23,28-06-23,Germany,39,Female
15,36,Premium,15,01-03-22,27-06-23,France,35,Male
16,37,Basic,10,14-09-22,25-06/23,Brazil,45,Female
17,38,Standard,12,05-11-21,24-06-23,Mexico,32,Male
18,39,Premium,15,28-12-22,23-06-23,Spain,27,Female
19,40,Basic,10,07-03-23,22-06/23,Italy,48,Male

In [23]:
# Cleaning the Last Payment Date columns and fixing the dates
df["Last Payment Date"] = pd.to_datetime(df['Last Payment Date'], errors='coerce').dt.strftime('%d-%m-%y')
df

,User ID,Subscription Type,Monthly Revenue,Join Date,Last Payment Date,Country,Age,Gender
0,21,Premium,15,10-06-23,22-06-23,United States,26,Female
1,22,Basic,10,22-07-22,28-06-23,Canada,34,Male
2,23,Standard,12,05-12-21,27-06-23,United Kingdom,49,Female
3,24,Standard,12,03-04-22,26-06-23,Australia,31,Male
4,25,Basic,10,14-03-23,28-06-23,Germany,40,Female
5,26,Premium,15,12-01-22,27-06-23,France,29,Male
6,27,Basic,10,29-08-22,25-06-23,Brazil,47,Female
7,28,Standard,12,27-09-21,24-06-23,Mexico,33,Male
8,29,Premium,15,19-12-22,23-06-23,Spain,36,Female
9,30,Basic,10,17-05-23,22-06-23,Italy,42,Male
10,31,Premium,15,03-02-23,22-06-23,United States,28,Female
11,32,Basic,10,07-07-22,28-06-23,Canada,37,Male
12,33,Standard,12,21-01-22,27-06-23,United Kingdom,41,Female
13,34,Standard,12,25-05-22,26-06-23,Australia,29,Male
14,35,Basic,10,11-04-23,28-06-23,Germany,39,Female
15,36,Premium,15,01-03-22,27-06-23,France,35,Male
16,37,Basic,10,14-09-22,25-06-23,Brazil,45,Female
17,38,Standard,12,05-11-21,24-06-23,Mexico,32,Male
18,39,Premium,15,28-12-22,23-06-23,Spain,27,Female
19,40,Basic,10,07-03-23,22-06-23,Italy,48,Male

In [26]:
# Fixing and Clenaing the column names
df.columns = df.columns.str.strip().str.replace(' ', '_').str.replace('-', '_').str.replace('/', '_')
df

,User_ID,Subscription_Type,Monthly_Revenue,Join_Date,Last_Payment_Date,Country,Age,Gender
0,21,Premium,15,10-06-23,22-06-23,United States,26,Female
1,22,Basic,10,22-07-22,28-06-23,Canada,34,Male
2,23,Standard,12,05-12-21,27-06-23,United Kingdom,49,Female
3,24,Standard,12,03-04-22,26-06-23,Australia,31,Male
4,25,Basic,10,14-03-23,28-06-23,Germany,40,Female
5,26,Premium,15,12-01-22,27-06-23,France,29,Male
6,27,Basic,10,29-08-22,25-06-23,Brazil,47,Female
7,28,Standard,12,27-09-21,24-06-23,Mexico,33,Male
8,29,Premium,15,19-12-22,23-06-23,Spain,36,Female
9,30,Basic,10,17-05-23,22-06-23,Italy,42,Male
10,31,Premium,15,03-02-23,22-06-23,United States,28,Female
11,32,Basic,10,07-07-22,28-06-23,Canada,37,Male
12,33,Standard,12,21-01-22,27-06-23,United Kingdom,41,Female
13,34,Standard,12,25-05-22,26-06-23,Australia,29,Male
14,35,Basic,10,11-04-23,28-06-23,Germany,39,Female
15,36,Premium,15,01-03-22,27-06-23,France,35,Male
16,37,Basic,10,14-09-22,25-06-23,Brazil,45,Female
17,38,Standard,12,05-11-21,24-06-23,Mexico,32,Male
18,39,Premium,15,28-12-22,23-06-23,Spain,27,Female
19,40,Basic,10,07-03-23,22-06-23,Italy,48,Male

In [28]:
# Cleaning the Country names
df['Country'] = df['Country'].str.strip().str.title()
df

,User_ID,Subscription_Type,Monthly_Revenue,Join_Date,Last_Payment_Date,Country,Age,Gender
0,21,Premium,15,10-06-23,22-06-23,United States,26,Female
1,22,Basic,10,22-07-22,28-06-23,Canada,34,Male
2,23,Standard,12,05-12-21,27-06-23,United Kingdom,49,Female
3,24,Standard,12,03-04-22,26-06-23,Australia,31,Male
4,25,Basic,10,14-03-23,28-06-23,Germany,40,Female
5,26,Premium,15,12-01-22,27-06-23,France,29,Male
6,27,Basic,10,29-08-22,25-06-23,Brazil,47,Female
7,28,Standard,12,27-09-21,24-06-23,Mexico,33,Male
8,29,Premium,15,19-12-22,23-06-23,Spain,36,Female
9,30,Basic,10,17-05-23,22-06-23,Italy,42,Male
10,31,Premium,15,03-02-23,22-06-23,United States,28,Female
11,32,Basic,10,07-07-22,28-06-23,Canada,37,Male
12,33,Standard,12,21-01-22,27-06-23,United Kingdom,41,Female
13,34,Standard,12,25-05-22,26-06-23,Australia,29,Male
14,35,Basic,10,11-04-23,28-06-23,Germany,39,Female
15,36,Premium,15,01-03-22,27-06-23,France,35,Male
16,37,Basic,10,14-09-22,25-06-23,Brazil,45,Female
17,38,Standard,12,05-11-21,24-06-23,Mexico,32,Male
18,39,Premium,15,28-12-22,23-06-23,Spain,27,Female
19,40,Basic,10,07-03-23,22-06-23,Italy,48,Male

In [ ]:
# Saving the cleaned dataset to my laptop and making a new csv file
df.to_csv(r'C:\Users\ADMIN\OneDrive - siomairhys\Portfolio Project\Netflix Userbase Data Cleaned Panda.csv', index = False)